<h1>********* Welcome to the longest word-game! *********</h1>
<h2>Here is your grid:</h2>
<% @letters.each do |letter| %> 
    <%= letter %> 
<% end %>
<br>
<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <input type="text" name="word" value="<%= params[:word] %>" placeholder="Enter here">
  <input type="submit" value="Submit" class="btn btn-primary">
  <input type="hidden" name="time" value="<%= @time %>">
  <input type="hidden" name="letters" value="<%= @letters %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>